$primary-color: #C8F0E1;

.Dashboard {
    max-width: 50%;
}

.Components {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $primary-color;
    justify-content: center;
    vertical-align: middle;
}

.TextComponents {
    display: flex;
    flex-direction: row;
}

#ChartTitle {
    text-align: left;
}

#MainTitle {
    background-color: $primary-color;
    width: 100%;
    text-align: left;
}
